.page-header {
  width: 320px;
  margin: 0 auto;

  position: relative;

  color: $color-text-2;

  background-image: url("../img/header-background-mobile.jpg");
  background-color: $color-background-2;
}

@media #{$tablet-widths} {
  .page-header {
    width: 768px;
    margin: 0 auto;

    background-image: url("../img/header-background-tablet.jpg");
    background-repeat: no-repeat;
  }
}

@media #{$desktop-widths} {
  .page-header {
    width: 1360px;
    margin: 0 auto;

    background-image: none;
    background-repeat: no-repeat;
    background-position: center 85px;
    background-color: #ffffff;
  }
}
