.portfolio {
  padding-bottom: 20px;

  background-color: $color-background-1;
}

.portfolio__title {
  margin: 0;
  padding: 0;
}

.portfolio__slider-indicators {
  @include reset-list();

  margin-top: 15px;
  margin-bottom: 24px;
  margin-left: 20px;
}

.portfolio__slider-indicators li {
  padding: 10px 0;

  font-size: 22px;
  font-weight: 400;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
  color: $color-title;
  }
}

.portfolio__slider-indicators li:first-child {
  font-weight: 800;
  color: $color-title;

  cursor: none;
}

.portfolio__slider-indicators label {
  padding: 10px 0;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $color-title;
  }
}

.portfolio__slider-items {
  @include reset-list();
}

.portfolio__slider-item {
  margin-left: 30px;
}

.portfolio__slider-item:not(:first-child) {
  display: none;
}

.portfolio__sliders-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: $color-title;
}

.portfolio__sliders-mini-text {
  display: none;
}

.portfolio__sliders-plus {
  display: none;
}

@media #{$tablet-widths} {
  .portfolio__title {
    padding-top: 75px;
  }

  .portfolio__slider-indicators {
    display: flex;
    justify-content: space-between;

    margin-bottom: 38px;
  }

  .portfolio__sliders-img {
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .portfolio__sliders-text {
    font-size: 22px;
    text-align: center;
  }
}

@media #{$desktop-widths} {
  .portfolio__title {
    padding-top: 25px;
    padding-bottom: 18px;
  }

  .portfolio__slider {
    position: relative;
  }

  .portfolio__slider-indicators {
    display: flex;
    justify-content: left;

    margin-left: 0px;
    margin-bottom: 46px;
  }

  .portfolio__slider-indicators li {
    margin-right: 58px;

    font-size: 18px;
  }

  .portfolio__slider-items {
    display: flex;

    margin: 0;
    padding: 0;
  }

  .portfolio__slider-item:not(:first-child) {
    display: block;
  }

  .portfolio__slider-item {
    position: relative;

    margin: 0;
    padding: 0;
  }

  .portfolio__sliders-text {
    position: absolute;
    top: 0;

    width: 155px;
    margin-left: 20px;

    font-size: 16px;
    color: #ffffff;
    text-align: left;
    line-height: 1.4;
  }

  .portfolio__sliders-mini-text {
    display: block;
    position: absolute;
    top: 0;

    margin: 0;
    padding: 0;
    margin-top: 450px;
    margin-left: -30px;

    font-size: 14px;
    color: #ffffff;
    line-height: 0;

    transform: rotate(-90deg);
  }

  .portfolio__sliders-img {
    margin: 0;
  }

  .portfolio__slider-control {
    position: absolute;
    top: 55%;

    width: 38px;
    height: 15px;
  }

  .portfolio__slider-control_prev {
    left: 25px;

    background-image: url("../img/arrow2.png");
    background-repeat: no-repeat;
  }

  .portfolio__slider-control_next {
    right: 25px;

    background-image: url("../img/arrow1.png");
    background-repeat: no-repeat;
  }

  .portfolio__slider-item:nth-child(2) {
    position: relative;
  }

  .portfolio__slider-item:nth-child(2) .portfolio__sliders-text,
  .portfolio__slider-item:nth-child(2) .portfolio__sliders-mini-text {
    display: none;
  }

  .portfolio__sliders-plus {
    display: block;

    position: absolute;
    top: 42%;
    left: 40%;

    width: 85px;
    height: 85px;

    background-color: $color-btn;
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 50%;

    border-radius: 50%;

    cursor: pointer;

    &:hover {
      background-color: $color-menu;
    }
  }
}
