$color-btn: #f5b77f;
$color-title: #00203a;
$color-title-min-1: #1a292f;
$color-title-min-2: #313131;
$color-text-1: #838383;
$color-text-2: #ffffff;

$color-background-1: #fdfaf3;
$color-background-2: #182c3d;
$color-menu: #112537;

$font-playfair: "Playfair Display", "Times New Roman", serif;
$font-raleway: "Raleway", "Roboto", sans-serif;

$tablet-widths: screen and (min-width: 768px);
$desktop-widths: screen and (min-width: 1360px);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
